.report-app-container {
    padding: 1em;

    .ant-form-item {
        margin-bottom: 0px;
    }

    .buttons-container {
        display: flex;
        width: 100%;

        .buttons-area {
            display: flex;
            button {
                margin-left: 1%;
            }
        }
    }

    .table-container {
        margin-top: 14px;
    }

}
